---
/* src/pages/index.astro */
import BaseLayout from "@/layouts/BaseLayout.astro";

/** * IMPORTACIONES DE INGENIERÍA
 * Todos los componentes React (.tsx) requieren directivas client: para activarse.
 */
import Hero from "@/components/landing/Hero.tsx";
import Tagline from "@/components/landing/Tagline.tsx";
import AllInOne from "@/components/landing/AllInOne.tsx";
import ServicesGrid from "@/components/landing/Services.astro";

// WorkPreview es un componente Astro, no requiere directiva client:
import WorkPreview from "@/components/landing/WorkPreview.astro";

import UbikappPromo from "@/components/ubikapp/UbikappPromo.tsx";
import Cta from "@/components/landing/Cta.tsx";

const seo = {
    title: "VANTTA // SISTEMAS_PROPIETARIOS",
    description: "Ingeniería de software y despliegue de infraestructura lógica de alto rendimiento.",
};
---

<BaseLayout seo={seo}>
    <main class="bg-[#050505] selection:bg-lime-400 selection:text-black">
        
        <Hero client:load />

        <WorkPreview />
        
        <ServicesGrid client:visible />

        <div class="py-20 lg:py-32">
            <UbikappPromo client:visible />
        </div>
        
        <AllInOne client:visible />
        
        
        
        <Tagline client:visible />
        
        
        
        <div class="pb-20">
            <Cta client:visible />
        </div>

    </main>
</BaseLayout>