---
// src/pages/services.astro
import BaseLayout from "@/layouts/BaseLayout.astro";
import ServicesGrid from "@components/services/ServicesGrid.jsx"; // Importamos el componente React
import Cta from "@components/landing/Cta.astro";

const seo = {
    title: "Servicios | VANTTA code_",
    description: "Soluciones de ingeniería digital: Desarrollo Web, Software a Medida, Branding y Ubikapp SaaS.",
};
---

<BaseLayout seo={seo}>
    <main class="bg-zinc-950 min-h-screen relative overflow-hidden pt-20">
        
        <ServicesGrid client:visible />

        <Cta />

    </main>
</BaseLayout>