---
/* src/layouts/BaseLayout.astro */
import BaseHead from "@components/BaseHead.astro";
import Footer from "@components/global/Footer.astro";
import Navigation from "@components/global/Navigation.astro";

const { seo } = Astro.props;
---

<html lang="es">
    <head>
        <BaseHead {...seo} />
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@1,900&family=JetBrains+Mono:wght@300&display=swap" rel="stylesheet">
    </head>
    
    <body class="bg-[#050505] text-white selection:bg-white selection:text-black w-full min-h-screen flex flex-col antialiased">
        <div class="relative z-50">
            <Navigation />
        </div>
        
        <main id="main-content" class="relative z-10 w-full flex-1">
            <slot />
        </main>
        
        <div class="relative z-10 border-t border-zinc-900">
            <Footer />
        </div>

        <style is:global>
            :root {
                --white: #FFFFFF;
                --black: #050505;
            }

            html, body {
                margin: 0;
                padding: 0;
                width: 100%;
                background-color: var(--black);
                font-family: 'JetBrains Mono', monospace;
                cursor: auto !important; /* Mouse siempre visible */
            }

            h1, h2, h3, .font-display {
                font-family: 'Inter', sans-serif;
                font-weight: 900 !important;
                text-transform: uppercase;
                letter-spacing: -0.05em;
                line-height: 0.8;
                font-style: italic;
            }

            /* Scrollbar Industrial */
            ::-webkit-scrollbar { width: 4px; }
            ::-webkit-scrollbar-track { background: var(--black); }
            ::-webkit-scrollbar-thumb { background: #27272A; }
            ::-webkit-scrollbar-thumb:hover { background: var(--white); }
        </style>
    </body>
</html>